body {
  background-color: #f0f1f3;
}
.add_admin {
  padding: 15px 15px;
}
.add_admin h1 {
  color: #000;
}
.add_admin .add_admin_location {
  margin: 15px 0px;
  display: flex;
  align-items: center;
  color: rgb(90, 90, 90);
}
.add_admin .add_admin_location .fa-chevron-right {
  margin: 0px 10px;
}
.add_admin .add_admin_location .all_add_admin_para {
  color: yellowgreen;
}
.add_admin .add_new_add_admin {
  width: 100%;
  background-color: #fff;
  padding: 20px;
}
.add_admin .add_new_add_admin h1 {
  margin-bottom: 25px;
  font-size: 25px;
}
.add_admin .add_new_add_admin .row1 {
  display: flex;
  justify-content: space-between;
}
.add_admin .add_new_add_admin .row1 .row1_inner1,
.row1_inner2 {
  width: 49%;
}
.add_admin .add_new_add_admin .row1 .row1_inner1 label {
  color: #cecece;
  font-size: 17px;
  font-weight: 550;
}
.add_admin .add_new_add_admin .row1 .row1_inner2 label {
  color: #cecece;
  font-size: 17px;
  font-weight: 550;
}
.add_admin .add_new_add_admin .row1 .row1_inner1 input {
  width: 100%;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #f0f1f3;
  margin: 10px 0px 15px 0px;
  padding: 15px;
}
.add_admin .add_new_add_admin .row1 .row1_inner2 input {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #f0f1f3;
  margin: 10px 0px 15px 0px;
  padding: 15px;
}
/* for row two============================= */
.add_admin .add_new_add_admin .row2 {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.add_admin .add_new_add_admin .row2 .row2_inner1 label {
  color: #cecece;
  font-size: 17px;
  font-weight: 550;
}
.add_admin .add_new_add_admin .row2 .row2_inner2 label {
  color: #cecece;
  font-size: 17px;
  font-weight: 550;
}
.add_admin .add_new_add_admin .row2 .row2_inner1,
.row2_inner2 {
  width: 49%;
}

/* .add_admin .add_new_add_admin .row1 .row1_inner1 input {
      width: 100%;
      outline: none;
      box-shadow: none;
      border: none;
      background-color: #f0f1f3;
      margin: 10px 0px 15px 0px;
      padding: 15px;
    } */
.add_admin .add_new_add_admin .row2 .row2_inner1 input {
  width: 100%;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
  background-color: #f0f1f3;
  margin: 10px 0px 15px 0px;
  padding: 15px;
}
.add_admin .add_new_add_admin .row2 .row2_inner2 input {
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-color: #f0f1f3;
  margin: 10px 0px 15px 0px;
  padding: 15px;
}
/* for row two============================= */
.add_admin .add_new_add_admin .row3 {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.add_admin .add_new_add_admin .row3 .row3_inner1 label {
  color: #cecece;
  font-size: 17px;
  font-weight: 550;
}
.add_admin .add_new_add_admin .row3 .row3_inner2 label {
  color: #cecece;
  font-size: 17px;
  font-weight: 550;
}
.add_admin .add_new_add_admin .row3 .row3_inner1,
.row3_inner2 {
  width: 49%;
}

.add_admin .add_new_add_admin .row3 .row3_inner1 input {
  width: 100%;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #f0f1f3;
  margin: 10px 0px 15px 0px;
  padding: 15px;
}
.add_admin .add_new_add_admin .row3 .row3_inner2 input {
  width: 100%;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #f0f1f3;
  margin: 10px 0px 15px 0px;
  padding: 15px;
}
/* .add_admin .add_new_add_admin .row2 .row2_inner1 select {
        width: 100%;
        outline: none;
        cursor: pointer;
        box-shadow: none;
        border: none;
        background-color: #f0f1f3;
        margin: 10px 0px 15px 0px;
        padding: 15px;
      }
      .add_admin .add_new_add_admin .row2 .row2_inner2 select {
        width: 100%;
        border: none;
        cursor: pointer;
        outline: none;
        box-shadow: none;
        background-color: #f0f1f3;
        margin: 10px 0px 15px 0px;
        padding: 15px;
      } */
.add_admin .add_new_add_admin .add_save_btn {
  padding: 10px 25px;
  width: 200px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  font-weight: 550;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
}
.add_admin .add_new_add_admin .add_save_btn:hover {
  background-color: transparent;
  color: #000;
}

/* all add_admin schedule start here ========================= */
.add_admin .all_add_admin_schedule {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin: 35px 0px;
}
.add_admin .all_add_admin_schedule h1 {
  margin-bottom: 25px;
  font-size: 25px;
}
.add_admin .all_add_admin_schedule .header_add_admin_schedule_table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  font-size: 15px;
}
.add_admin .all_add_admin_schedule .header_add_admin_schedule_table button {
  background-color: yellowgreen;
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
}

/* hahhaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa===================== */
#add_admin_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0px;
  border: 1px solid #ddd;
}
#add_admin_table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#add_admin_table th {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: yellowgreen;
  color: #fff;
}
#add_admin_table td {
  border: 1px solid #ddd;
  padding: 15px;
  color: #7c647c;
}
#add_admin_table td {
  border: none;
  border-bottom: 1px solid #ddd;
}
span.add_page-link {
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
}

#add_admin_table td.add_action #add_admin_action_icon {
  cursor: pointer;
  color: #04aa6d;
}
#add_admin_table td.add_action .add_action_content {
  position: absolute;
  margin-left: -150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 150px;
  background-color: #fff;
  padding: 10px;
  display: none;
}
#showAddAdminData ul.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#showAddAdminData ul.pagination li {
  padding: 10px 15px;
  list-style: none;
  transition: 0.5s;
  color: #000;
  cursor: pointer;
  border: 1px solid yellowgreen;
  margin: 0px 5px;
}
#showAddAdminData ul.pagination li:hover {
  background-color: yellowgreen;
  color: #fff;
}
#showAddAdminData ul.pagination li.active {
  background-color: yellowgreen;
  color: #fff;
}
#showAddAdminData ul.pagination li.active:hover {
  background-color: transparent;
  color: #000;
}
#add_admin_table td.add_action .add_action_content .add_action_btn_hide {
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 10px;
  background-color: red;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
#add_admin_table td.add_action .add_action_content.add_action_btn {
  display: block;
}

#add_admin_table td.add_action .add_action_content button {
  border: 1px solid#04aa6d;
  cursor: pointer;
  width: 100%;
  margin: 5px 0px;
  padding: 5px 10px;
  color: #000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
}
